<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<a href="#/project/{{project.projectId}}">{{project.name}}</a>
	<span class="breadcrumbs youarehere">Edit member</span>
</div>

<h1>Edit Member: {{member.getName()}}</h1>

<p>Here you can alter this project member's permissions</p>

<form class="process" ng-submit="editMember()">
    <div class="formItem">
        <label for="editableRoleList">Required role<span class="small">Please specify the new permission level for this member <br> 
			<a href="http://help.it.ox.ac.uk/research/ords/howto02#ORDS-roles" target="_blank">More information about roles</a></span></label>
        <select ng-model = "member.role" name="editableRoleList" id="editableRoleList"> 
            <option value="viewer">Viewer</option> 
            <option value="contributor">Contributor</option> 
            <option value="projectadministrator">Project Administrator</option> 
        </select>
    </div>
    <div class="form-buttons">
        <button name="cancel" class="cancel" ng-click="cancel()">Cancel</button>
        <button name="submit" class="button">Save changes</button>
    </div>
</form>