<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<span class="breadcrumbs youarehere">Create New Project</span>
</div>

<h1>Create New Project</h1>
	
<div class="formItem">
	<div>
		This project is a trial project.
	</div>
	<p>
		Trial projects are subject to some limitations and do not appear in the public project list.
	</p>

	<p>
		Once you have created the project, you will be able to request that the project be converted to a full project, 
		without these limitations.
	</p>
</div>

<projectform></projectform>