<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<span class="breadcrumbs youarehere">{{project.name}}</span>
</div>

<div ng-show="project.$resolved">

<h1>Project: {{project.name}}</h1>

<p>{{project.description}}</p>

<div class="informationBubble">
	<div class="rightFloat">
		<a ng-show="project.canEdit" class="button" href="#/project/{{project.projectId}}/newdatabase">Add new ORDS database</a>
	</div>
    <h2>Databases</h2>
    <databases></databases>
</div>

<!-- Project Members -->
<div class="informationBubble">
    <div class="rightFloat">
        <div>
            <a ng-show="project.canEdit" class="button" href="#/project/{{project.projectId}}/newmember">Add new member</a>
        </div>
	</div>

	<div ng-show="members.$resolved">
	<h2>Project Members</h2>
	
	<table class="fullWidthTable">
    	<tbody>
			<tr>
		        <th style="width: 200px">Member name</th>
		        <th style="width: 200px">Role</th>
		        <th style="width: 200px">Edit</th>
		        <th style="width: 200px">Delete</th>
    		</tr>

		    <tr ng-repeat="member in members track by member.id">
		        <td>{{member.getName()}}</td>
		        <td>{{member.role}}</td>

		        <!-- Buttons -->
		        <td><a ng-show="project.canEdit && member.role!=='owner'" class="button" href="#/project/{{project.projectId}}/member/{{member.id}}">Edit project member</a></td>
		        <td><a ng-show="project.canEdit && member.role!=='owner'" class="button" ng-really-message="Are you sure you want to remove this member?" ng-really-click="removeMember(member.id)">Remove member</a></td>
		    </tr>
		</tbody>
	</table>
	</div>
	
	<div ng-show="pending.$resolved">
	<h2>Pending Project Members</h2>
	
	<table class="fullWidthTable">
    	<tbody>
			<tr>
		        <th style="width: 200px">Member name</th>
		        <th style="width: 200px">Role</th>
		        <th style="width: 200px">Edit</th>
		        <th style="width: 200px">Delete</th>
    		</tr>

		    <tr ng-repeat="pendingMember in pending track by pendingMember.email">
		        <td>{{pendingMember.email}}</td>
		        <td>{{pendingMember.roleRequired}}</td>

		        <!-- Buttons -->
		        <td><a ng-show="project.canEdit && member.role!=='owner'" class="button" href="#/project/{{project.projectId}}/invite/{{pendingMember.id}}/edit">Edit project member</a></td>
		        <td><a ng-show="project.canEdit && member.role!=='owner'" class="button" ng-really-message="Are you sure you want to remove this member?" ng-really-click="removePendingMember(pendingMember.id)">Remove member</a></td>
		    </tr>
		</tbody>
	</table>
	</div>
</div>
		

<div class="informationBubble">
    <div class="rightFloat">
        <a ng-show="project.canEdit" class="button" href="#/project/{{project.projectId}}/edit">Edit project details</a>
        <a ng-show="project.canEdit" class="button" href="#/project/{{project.projectId}}/audit">View audit record</a>
    </div>
    
    <h2>Project Details</h2>
	
    <table class="project-details">
        <tbody>
		<tr><th>Description</th><td>{{project.description}}</td></tr>
        <tr><th>Start date</th><td>{{project.startDate | date:'longDate'}}</td></tr>
    	<tr><th>End date</th><td>{{project.endDate | date:'longDate'}}</td></tr>
        <tr>
            <th>Details included in public ORDS project list?</th>
            <td>
            	<span ng-hide="project.privateProject">Yes</span>
            	<span ng-show="project.privateProject">No</span>
            </td>
        </tr>
    	</tbody>
	</table>
</div>

</div>