
   #rqb table td {
       border: none;
	   background-color: transparent;
   }
   .rqbComparison {
        background-color: #eaeef2;
        border-style: solid;
        border-color: #dddddd;
        border-width: 1px;
        border-radius: 10px;
   }
   
   .rqbAndOrOp {
        background-color: #eaeef2;
        border-style: solid;
        border-color: #dddddd;
        border-width: 5px;
        border-radius: 10px;   
   }

   .rqbAndOrOpUpper {
       z-index: 0 !important;
   }