.redirectLink a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2em;
    padding: 0 1em;
    width: 5em;
    text-decoration: none;
}


button,
a.ovalbutton,
a.button {

	display: inline-block ;
border: 1px solid #79550d;
border-radius: 3px ;
-webkit-border-radius: 3px ;
-moz-border-radius: 3px ;
color: #fff;
font-size: 0.9em;
font-weight: bold;
margin: 0px 10px 10px 0px;
padding: 7px 12px;
background-color: #A2CE18;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;


/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #A2CE18 0%, #749802 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #A2CE18 0%, #749802 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #A2CE18 0%, #749802 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A2CE18), color-stop(1, #749802));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #A2CE18 0%, #749802 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #A2CE18 0%, #749802 100%);
border-color: #354503;

	
}

a.delete
{

background-color: #bb3e27;

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #bb3e27 0%, #8a2410 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #bb3e27 0%, #8a2410 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #bb3e27 0%, #8a2410 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bb3e27), color-stop(1, #8a2410));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #bb3e27 0%, #8a2410 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #bb3e27 0%, #8a2410 100%);
border-color: #354503;
}



button.js_enabled {
display: inline-block !important;
}

a:link.ovalbutton,a:visited.ovalbutton,a:active.ovalbutton {
	color: #fff; /*button text color*/
}

a.ovalbutton span {


}

a.ovalbutton:hover { /* Hover state CSS */
	background-position: bottom left;
}




.buttonwrapper {
	/* Container you can use to surround a CSS button to clear float */
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}

/* rounded buttons */
.round,a:visited.a.round:hover,a:active.round {
	cursor: pointer;
	cursor: hand;
	line-height: 27px;
	height: 27px;
	background: url(../images/buttons/button.gif) no-repeat right top;
	padding-right: 30px;
	display: inline-block;
}

.round ins {
	background: url(../images/buttons/button.gif) no-repeat left top;
	height: 27px;
	line-height: 27px;
	display: inline-block;
	padding-left: 30px;
}

a.round:hover {
	background-position: right -155px;
}

a.round:hover ins {
	background-position: left -155px;
}

/*.helpButton {
	float:right;
}*/

.formItem {

}


.slideSign{
	color:red;
}

.newline {
	clear:both;
}

.invisibleElement {
	display: none;
}

.rightFloat {
	float:right;
}

.leftFloat {
	float:left;
}