.pgouter {
	width: 400px;
	padding: 22px;
	border: #ddd 1px solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #f5f7fa;
}

.pglegend {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-top: 0px;
	padding-bottom: 22px;
	font-size: small;
	color: #5D5B5B;
}

.pgback {
	width: 100%;
	height: 10px;
	border: 1px solid #697881;
	box-sizing: content-box;
}

.pgbar {
	width: 0%;
	height: 10px;
	background: #002147;
	box-sizing: content-box;
}
