body {
	margin: 0;
	padding: 0;
	background: #ccc;
	background-color: #fff;
background: #fff url("images/bg/header-bg.png") repeat-x 0px 0px;
  background: #002147 url("images/bg/texture-bg.png") repeat 0px 0px;
  background: #fff url("images/bg/header-bg.png") repeat-x 0px 0px;

color: #555;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 1em;
	overflow-y: auto;
}

.ng-cloak { display:none;}



/* header stuff */
.header {

  background: #002147 url("images/bg/texture-bg.png") repeat 0px 0px;
  background: #fff url("images/bg/header-bg.png") repeat-x 0px 0px;

	color: #fff;
	margin: 0;
	margin-bottom: 1em;
	padding: 0px;
	padding-top: 7px;
	height: 80px;
	font-size: 0.9em;

}






.container {
	width: 960px;
	margin: 0 auto;
	background: #f3eec6;
}

.pageContainer {
	margin: 0 2%;
    background: #fff;
}





h1, h2, h3, h4, h5, h6 {
  
    clear: both;
    color: #002147;
    color: #b5c3ca;
    color: #648191;
  display: block;

  
}

h1 {
  
  color: #b5c3ca;
  color: #648191;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
  
}


ul li {
  
  margin-bottom: 0.5em;
}




.header a,
.header a:link,
.header a:visited,
.header a:hover,
.header a:focus,
.header a:active {
  
	color: #fff;
  text-decoration: none;  
}


a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  
	color: #002147;

}


a:hover,
a:focus,
.header a:focus,
.header a:hover {
  
text-decoration: underline;

}



h1.site-title {

  float: left;
  
  height: 77px;
  margin: 0px;
  margin-top: 3px;
  padding: 0px;
  width: 300px;

}

h1.site-title a{

  background: transparent url("images/logos/ords-logo.png") no-repeat 0px 0px;
  display: block;
  height: 77px;
  margin-top: 0px;
  text-indent: -9000px;
  width: 200px;
  
  
  }

a#ox-link {

  float: left;
  display: block;
  height: 55px;
  margin-top: 5px;
  margin-left:20px;
  text-indent: -9000px;
  width: 177px;
  

  
  
}

     a.login,
   a.logout,
   a.signup{
   
  
  margin-top:10px;
  padding:5px 5px 5px 24px;
  color: #fff;
  
 background-color: #002147;
   }
   
   
   


 a.logout{
  background: transparent url("images/icons/logout.png") repeat-y 0px 2px;
  }
  
   a.login{
  background: transparent url("images/icons/login.png") repeat-y 0px 2px;
  }
  
  a.signup{

  background: transparent url("images/icons/signup.png") repeat-y 0px 2px;
  }
  
  

   
     
  .header a.login,
   .header a.signup {
     
margin-top: 0px;
float: right;

   }
  
  
  div.homepage   a.login,
  div.homepage   a.logout,
  div.homepage   a.signup {
    

background-color: #002147;  
display: block;
padding-left: 2em;
text-decoration: none;
width: 4em;
   }
   
   
   
a.login:hover,
a.logout:hover,
a.signup:hover,
a.login:focus,
a.logout:focus,
a.signup:focus {
    
  background-position: 0px 26px;

   }
   
   
   
   

  .user,
  .user-actions {
  padding:3px 5px 7px 24px;
  text-align: right;
  }
  
  
   
  .user a{
    display: block;
  }
  

  .username {
    background: transparent url("images/icons/user.png") repeat-y 0px 2px;
    color: #eff4f9;
    font-weight: bold;
  padding:3px 5px 3px 24px;
    
  }
  
  
  .user-label {
    
    color: #fff;
    position: absolute;
    top: -9000px;
    
  }

.header-panel {
  

  float: left;
  margin: 4px;
  padding: 0px;
  width: 150px;
  
}



.search-box {
  
  margin: 20px 0px 0px 121px;
  width: 180px;

}




.message {
  
  background: #fdf4d9;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d1c29d;
  clear: both;
  color: #000;
  padding: 1em;
  
}


/* general table styling  */


table tr th,
table tr td {
  
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  padding: 0.3em;
  
}


table tr th {
  
  background-color: #f1f1f1;
  
}

.selectedDataItem {
    width: 90%;
    height: 1.5em;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
}

.selectedDataItem.date, .selectedDataItem.time {
    width: 7em;
}

.selectedDataItem.timestamp {
    width: 12em;
}

.referenceSelect {
    font-size: .8em;
}

/* right align table header where they are row headers, not column headers */

table.project-billing-info tr th,
table.project-details tr th
  {
  
  text-align: right;
  
}


table.project-billing-info {
  
  min-width: 400px;
  
}
/* homepage stuff */


div.intro,
div.searchbox-home {
  
  float: left;
  width: 54%;
}

div.intro {
  
padding: 0px 0px 2em 0px;
}



div.searchbox-home {
  
  float: right;
  margin-top: 0px;
  width: 44%;
}



div.login
 {
clear: both;
}



/* my projects listing */
.my-projects h2 {
  
 background-color: #fafafa;  
background-color: #f5f7fa;

border-bottom: #ddd  1px solid;
border-top: #ddd  1px solid;


padding: 0.3em;
}


.my-projects h3 {
  
float: left;
  
}



.my-projects a.create {

  float: right;
margin-right: 30px;
padding-left: 18px;
  padding-right: 18px;

}

.my-projects .panel {
  
  clear: both;
  
}


.my-projects .project h4 a {
  
  background: transparent url("images/icons/breadcrumb-arrow.png") no-repeat right 5px;
  font-size: 1.5em;
  padding-right: 24px;
  text-decoration: none;  

}



.project-piece {
  width: 30%;
  float: right;
  padding: 5px;
  margin: 5px;
}


.project-piece.description {
  
   float: left;
  width: 42%;

}

.project-piece.details {
 
  border: #ddd  1px solid;
  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
}

.project-piece.actions {
 
padding: 0px;
  width: 20%;

}



/* footer stuff */

.footer {
  background: #fff;
  clear: both;
   color: #999;
  font-size: 0.9em;
  margin-top: 5em;
  padding: 2em 5px;
  border-top: 1px solid #ddd;
  text-align: center;
}


.footer a {
  
  color: #999;
  padding: 0.5em;
  text-decoration: none;
}

.footer a:focus,
.footer a:hover {
  
  color: #666;
  text-decoration: underline;
}



.footer ul,
.footer li {
  

list-style: none;
display:  inline;

  
}


.footer .copyright {
  
  margin-top: 1em;
  
}


.footer div {
  
  margin-top: 1em;
  
}



.popup {
	position: absolute;
	display: none;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url('../images/trans10.png');
}


.content {
	position: relative;
	top: 45px;
	background: #fff;
	border: 0px solid #FFFFFF !important;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0 1px 1px white inset, 0 3px 3px rgba(0, 0, 0, 0.4);
	padding: 0px 0px 0px 0px;
	width: 450px;
	margin: 0px auto 30px auto;
	z-index: 50;
}

.content2 {
width:400px;
padding:10px;
border:5px solid gray;
margin:0px;
}

.formItem { 
    clear:both;
}

.spacer {
	height: 10px;
}

#fullWidthTable {
	width: 800px;
}

.padding {
	padding: 5px 5px 5px 15px;
}

.titlebar {
	background: #white;
	color: #f3eec6;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aebcbf),
		color-stop(50%, #6e7774), color-stop(51%, #0a0e0a),
		color-stop(100%, #0a0809) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%,
		#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809
		100%); /* IE10+ */
	background: linear-gradient(top, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(       startColorstr='#aebcbf',
		endColorstr='#0a0809', GradientType=0 ); /* IE6-9 */
	border-radius: 4px 4px 0px 0px;
	margin: 0 0 0 0;
	padding: 2px 5px 2px 5px;
	text-align: center;
}

#dialogbuttons {
	width: 95%;
	position: relative;
	bottom: 0;
	padding: 15px 8px 0 0;
	text-align: right;
}

.error {
	font-weight: bold;
	color: #CC0000;
}

.helpItem {
	font-style: italic;
}

.info {
	font-weight: bold;
	color: green;
}

input.button
	{
	color: #fff;
	background: #0034D0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #ffcf31;
}






.my-projects {
  


}


.panel,
.breadcrumbs-wrapper {
  border: #ddd  1px solid;

  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  padding: 0px;
  margin: 1em auto 1em auto;
  background-color: #f6f6f6;  
  background-color: #f5f7fa;

}


.panel h2,
.panel h3,
.panel h4{
  
  background-color: #f3f3f3;  
  background-color: #eaeef2;
margin-top: 0px;
margin-bottom: 2px;
padding: 0.3em;
border-bottom: #ddd  1px solid;
}

.panel h2 a{
color: #000;
}

.panel p,
.panel div,
.inner-child {
padding: 0 0.3em ;

}







.informationBubble { 





	color: #333;
	border: 1px solid #dddddd ;
	position: relative;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 10px 5px;
	text-decoration: none;
	/*	opacity:0.9; */
	overflow: auto;
	
	
	
	
}

.informationBubble:visited {
	text-decoration: none;
}

.informationBubble:hover {
	text-decoration: none;
	opacity: 1;
}



.filterArea {
	width:auto;
	background-color: #dddddd;
	border: 1px solid #999999;
	padding: 2em;
	border-radius: 12px;
}



.contDiv {width:auto;}
.headerDiv {overflow: hidden;}
.bottomDiv {height: 400px; overflow: scroll; }
.bottomDiv tbody:nth-child(odd) {background: #aaaaaa}


.tdFixed {  
	background-color: #f1f1f1;
	min-width:140px;
	width: 140px;
}

.tdScroll {  
	background-color: #fafafa;
	border: 1px solid #eaeaea;
	padding: 0.3em;
	min-width:140px;
	width: 140px;
}


/* data tables */

table.data-table td,
table.data-table th{
	text-align: left;
}

/* scrollable data tables

taken from a code exmaple at http://www.456bereastreet.com/archive/201309/responsive_scrollable_tables/

with thanks 

 */




.scrollable {
    overflow-x:auto;
    overflow-y:auto;
}

.scrollable.has-scroll {
    position:relative;
    overflow:hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
}
.scrollable.has-scroll:after {
    position:absolute;
    top:0;
    left:100%;
    width:50px;
    height:100%;
    border-radius:10px 0 0 10px / 50% 0 0 50%;
    box-shadow:-5px 0 10px rgba(0, 0, 0, 0.25);
    content:'';
}
/* This is the element whose content will be scrolled if necessary */
.scrollable.has-scroll > div {
    overflow-x:auto;
     overflow-y:auto;
     height: 400px;
     margin-bottom: 1em;
}

/* make sure the element is obviously scrollable (i.e. scrollbar tracks are visible) */


.scrollable > div::-webkit-scrollbar {
    height:12px;
}
.scrollable > div::-webkit-scrollbar-track {
    box-shadow:0 0 2px rgba(0,0,0,0.15) inset;
    background:#f0f0f0;
}
.scrollable > div::-webkit-scrollbar-thumb {
    border-radius:6px;
    background:#ccc;
}





/* two carranfement for info  */



.two-up {
  
  float: left;
  width: 45%;
  margin-bottom: 2em;
  margin-right: 2%;
}




.two-up.message {
  
clear: none;
  
}


.two-up textarea{
  
width: 90%;
border: 1px solid #999;
}




.three-up {
  
  float: left;
  width: 30%;
  margin: 0 0.5em 2em 0;
  min-height: 25em;
  
}


.breadcrumbs-wrapper a,
span.breadcrumbs,
a.breadcrumbs {   


    display: inline-block;
    padding: 5px 20px 5px 5px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
}


a.breadcrumbs,
.breadcrumbs-wrapper a {
  
    background: #f5f7fa url("images/icons/breadcrumb-arrow.png") no-repeat right 5px;
    
    }
    
    
span.breadcrumbs,
span.youarehere {
  
  font-weight: bold;
}


.clear {
  
  clear: both;
  
}

.select2 {
    width: 10em;
    font-size: .99em;
}

select.select2 {
    height: 1.5em;
}

.ajax-loader {
    display:none;
}

.main .sqllabel {
    clear: both;
    float: none;
    font-family: monospace;
    text-align: left;
}

.sqlinput {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    margin-left: 4em;
    width: 40%;
}

.sqlhelp {
    float: right;
    margin: 0 0 0.1em;
    width: 50%;
    font-size: .8em;
}

#limitinput, #offsetinput, #groupbyinput, #orderbyinput {
    height: 1.5em;
}


.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}