	<div class="header">
	    <h1 class="site-title"><a href="#/">ORDS</a></h1>
	    <div class="header-panel search-box">
		    <form name="searchForm" id="searchForm" ng-submit='search()' >
			    <div>
					<input ng-model="query" name="query" class="required" type="text" value="" maxlength="200">
					<input type="submit" value="Search ORDS projects">
			    </div>
		    </form>
		</div>
		<profile></profile>
		<a id="ox-link" href="http://www.ox.ac.uk">University of Oxford</a>
		<div class="clear"></div>
	</div>
