	<div class="header">
	    <h1 class="site-title"><a href="#/">ORDS</a></h1>
	    <div class="header-panel search-box">
		    <form action="ProjectQueryServlet" method="post">
			    <div>
					<input class="invisibleElement" name="projectRequestType" type="text" value="viewOrdsProjects">
					<input name="searchTerms" class="required" type="text" value="" maxlength="200">
					<input name="viewOrdsProjectsForm" type="submit" value="Search ORDS projects">
			    </div>
		    </form>
		</div>
		<profile></profile>
		<a id="ox-link" href="http://www.ox.ac.uk">University of Oxford</a>
		<div class="clear"></div>
	</div>
