	<div class="header">
	    <h1 class="site-title">
				<i class="pe-7s-server pe-2x pe-va"></i><a href="#/">Trunk<em>DB</em></a>
			</h1>
	    <div class="header-panel search-box">
		    <form name="searchForm" id="searchForm" ng-submit='search()' >
			    <div>
					<input ng-model="query" name="query" class="required" type="text" value="" maxlength="200">
					<button type="submit">Search projects</button>
			    </div>
		    </form>
		</div>
		<profile></profile>
		<div class="clear"></div>
	</div>
