<div class="breadcrumbs-wrapper">
	<span class="breadcrumbs youarehere">Contact project</span>
</div>

<h1>Send an initial contact request to {{project.owner}} to discuss project {{project.name}}</h1>

<form class="process" ng-submit="contact()" name="contactForm" id="contactForm">

    <div class="formItem">
        <label for="requestorName">
			Your name <span class="important">*</span><span class="small">The name that the project can use when addressing you in their reply</span>
		</label>
        <input ng-model="contactRequest.name" required type="text" id="requestorName" name="requestorName">
    </div>
	
    <div ng-messages="contactForm.requestorName.$error" ng-if="contactForm.requestorName.$touched" class="formItem" role="alert">
      <div ng-message="required" class="alert alert-warning">You need to provide a name</div>
    </div>
	
    <div class="formItem">
        <label for="contactMessage">
			Contact Message <span class="important">*</span><span class="small">Please type in the message you wish to send.</span>
		</label>
        <textarea ng-model="contactRequest.message" required rows="8" cols="40" id="contactMessage" name="contactMessage"></textarea>
    </div>
	
    <div ng-messages="contactForm.contactMessage.$error" ng-if="contactForm.contactMessage.$touched" class="formItem" role="alert">
      <div ng-message="required" class="alert alert-warning">You need to provide a message</div>
    </div>
	
    <div class="formItem">
        <label for="emailAddress">
			Email address  <span class="important">*</span><span class="small">The email address you can be contacted on.</span>
		</label>
        <input ng-model="contactRequest.emailAddress" required type="email" id="emailAddress" name="emailAddress">
    </div>
	
    <div ng-messages="contactForm.emailAddress.$error" ng-if="contactForm.emailAddress.$touched" class="formItem" role="alert">
      <div ng-message="required" class="alert alert-warning">You need to provide an email address</div>
      <div ng-message="email" class="alert alert-warning">You need to provide a valid email address</div>
    </div>
    
	<div class="form-buttons">
		<button name="sendContact" ng-disabled="contactForm.$invalid" type="submit" value="Send">Send</button>
	</div>
</form>
