<h1>User Preferences for {{user.name}}</h1>

<div id="ordsFormStyle" class="ordsForm">
	<form ng-submit="updateProfile()" name="profileForm" id="profileForm">
		
	    <div class="formItem">
	        <label for="username">Your name in the form you would like it to appear within the ORDS system <span class="important">*</span></label>
	        <input type="text" ng-minlength="2" ng-maxlength="200" required id="username" name="username" ng-model="user.name">
	    </div>
		
	    <div ng-messages="profileForm.username.$error" ng-if="profileForm.username.$touched" class="formItem" role="alert">
	      <div ng-message="required" class="alert alert-warning">You must provide a name</div>
	      <div ng-message="minlength" class="alert alert-warning">Your name is too short</div>
	      <div ng-message="maxlength" class="alert alert-warning">Your name is too long</div>
	    </div>
		
	    <div class="formItem">
	        <label for="emailAddress">Email address  <span class="important">*</span></label>
	        <input type="email" required id="emailAddress" name="emailAddress" ng-model="user.email">
	    </div>
		
	    <div ng-messages="profileForm.emailAddress.$error"  ng-if="profileForm.emailAddress.$touched" class="formItem" role="alert">
		      <div ng-message="required" class="alert alert-warning">You need to provide an email address</div>
		      <div ng-message="email" class="alert alert-warning">You need to provide a valid email address</div>
	    </div>
        
        <!-- Only include if we aren't supporting SSO -->        
        <div class="formItem">
            <label for="passwordRequest">Change your password </label>
            <input type="password" id="passwordRequest" name="passwordRequest" ng-model="user.passwordRequest">
        </div>
        
        <div class="formItem">
            <label for="passwordRequest2">Confirm change of password </label>
            <input type="password" id="passwordRequest2" name="passwordRequest2" compare-to="user.passwordRequest" ng-model="passwordRequest2">
        </div>	
        <div ng-messages="profileForm.passwordRequest2.$error" ng-if="profileForm.passwordRequest2.$touched">
            <div ng-message="compareTo" class="alert alert-warning">Passwords must match</div>
        </div>

    	<div class="form-buttons">
	    	<button name="submit" type="submit" ng-disabled="profileForm.$invalid">Save changes</button>
		</div>
	</form>
<div>
	
    <h2>ODBC</h2>
    <p>If ODBC access is enabled, it is possible for project members to view, edit, and query project data via an 
    ODBC (Open Database Connectivity) connection. This allows users to access data stored in the ORDS via another 
    database application (Microsoft Access, for example), or via a custom-built Web front-end. 
    This can provide a way of combining the advantages of multiple systems. </p>
    
    <p>For more information about the ORDS and ODBC connections, 
    visit the <a href="http://help.it.ox.ac.uk/research/ords/odbc" target="_blank">IT Services help site</a>. 
    If you need help setting up an ODBC connection, please contact the ORDS help desk by 
    emailing <a href="mailto:ords@it.ox.ac.uk?Subject=ODBC%20connections%20in%20ORDS">ords@it.ox.ac.uk</a>.</p>
    
    <p>When creating an ODBC connection using an external client, you need to ensure that SSL is set to allow (i.e. on). 
    Your username is displayed below and your password may be reset on this page if you don't know it.</p>
        
    <h3>ODBC Connection Information</h3>
    <p>In earlier versions of ORDS, your ODBC connection details were shown here. To get the ODBC connection
    details for any database, navigate to the database details panel for the database, and click the
    <em>Request ODBC Connection Details</em> button. Note that each database has its own unique connection information - including 
    user name and password.</p>
    
    <h3>IP Addresses</h3>
    <p>If your provider restricts ODBC access by the IP address of the client, you'll need to provide 
    this information before you can access any databases. To submit your current IP address, click the button below.</p>
    
    <button>Add your current IP address for ODBC access</button>
    <p>NOTE: TO BE IMPLEMENTED</p>
