<div class="breadcrumbs-wrapper">
	<span class="breadcrumbs youarehere">Search Results</span>
</div>

<div class="panel">
	<h2>Projects <i ng-hide="results.$resolved" class="pe-7s-refresh pe-va pe-spin"></i></h2>
	<p>
		<span ng-show="results.$resolved">There are {{results.length}} project(s) that have been marked as open and completely satisfy your search criteria (if entered)</span>
	</p>
	<table class="table-wide">
		<tbody>
			<tr>
				<th>Project Name</th>
				<th>Description</th>
				<th>Project Owner</th>
				<th>Contact</th>
			</tr>

			<tr ng-show="results.$resolved" dir-paginate="project in results | itemsPerPage: 10 track by project.projectId">
				<td>
					<p><a href="#/project/{{project.projectId}}">{{project.name}}</a></p>
				</td>
				<td>
					<p>{{project.description}}</p>
				</td>
				<td>
					<p>{{project.user.name}}</p>
				</td>
				<td>
					<p>
						<a href="#/contact/{{project.projectId}}">Contact {{project.user.name}}</a>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="results.$resolved">
		<dir-pagination-controls template-url="lib/pagination.tpl.html"></dir-pagination-controls>
	</div>
</div>


	<div class="panel">
		<h2>Datasets <i ng-hide="datasetResults.$resolved" class="pe-7s-refresh pe-va pe-spin"></i></h2>
		<p>
			<span ng-show="datasetResults.$resolved">There are {{datasetResults.length}} dataset(s) that have been marked as open and completely satisfy your search criteria (if entered)</span>
		</p>
		<table class="table-wide">
			<thead>
			<tr>
				<th>Dataset name</th>
				<th>Description</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-show="datasetResults.$resolved" dir-paginate="dataset in datasetResults | itemsPerPage: 10 track by dataset.viewName">
					<td>
						<p>{{dataset.viewName}}</p>
					</td>
					<td>
						<p>{{dataset.viewDescription}}</p>
					</td>
					<td>
						<p><apidialog database="{{dataset.databaseId}}" dataset="{{dataset.id}}"/></p>
					</td>
				</tr>
			</tbody>
		</table>
	<div ng-show="datasetResults.$resolved">
		<dir-pagination-controls template-url="lib/pagination.tpl.html"></dir-pagination-controls>
	</div>
	</div>

	<stats></stats>