<div>
	<form name="importForm">
	<p>Use this form to upload a CSV file.  This will be inserted into the current database as a new table.</p>
	<p>Use this field to name your new table.</p>
	<input type="text"  
		name="tableName"
		ng-maxlength="63"
		ng-model="ngDialogData.importInfo.importName"
		name-validator="{{tableNames}}"/>
	<div ng-messages="importForm.tableName.$error">
		<div ng-message="maxlength" class="alert alert-warning">Maximum 63 characters allowed for a table name!</div>
		<div ng-message="nameValidator" class="alert alert-warning">There is already a table with that name in the database.</div>
	</div>
	<input type="file" required file-model="ngDialogData.importInfo.csvFile" name="csvFile" />
	<div ng-messages="importForm.csvFile.$error">
		<div ng-message="required" class="alert alert-warning">Please choose a file.</div>
	</div>
	</form>
	<progress-bar progress-current="{{loaded}}" progress-total="{{total}}" progress-suffix="kBs"></progress-bar>
	<div class="ngdialog-buttons">
		<button type="button" class="button cancel" ng-click=closeThisDialog("Cancel")>Cancel</button>
		<button type="button" ng-disabled="importForm.$invalid" class="button" ng-click="importCSVFile()">Import</button>
	</div>
</div>