/*
 The panel is a common interfaces element for grouping controls and content together
 for a related feature.
*/
.panel{
  border: #ddd  1px solid;
  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  padding: 0px;
  margin-bottom: 1em;
  background-color: #f6f6f6;  
  background-color: #f5f7fa;
}
.panel h2,
.panel h3,
.panel h4{
  background-color: #f3f3f3;  
  background-color: #eaeef2;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0.3em;
  border-bottom: #ddd  1px solid;
}

.panel h2 a{
color: #000;
}

.panel p,
.panel div,
.inner-child {
padding: 0 0.3em ;

}