<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<a href="#/project/{{project.projectId}}">{{project.name}}</a>
	<a href="#/project/{{project.projectId}}/{{logicalDatabaseId}}">{{logicalDatabaseName}}</a>
	<span class="breadcrumbs youarehere">View, Edit and Query Data</span>
</div>

<div class="row">
	<div class="col-6">

		<div class="panel">
			<h2>Tables <i ng-hide="tableList.$resolved" class="pe-7s-refresh pe-va pe-spin"></i></h2>
			<div ng-repeat="(key,val) in tableList.tables" ng-show="tableList.$resolved">
				<h4>
					<i class="pe-7s-albums pe-va"></i>
					<a href="#/table/{{project.projectId}}/{{logicalDatabaseId}}/{{physicalDatabaseId}}/{{instance}}/table/{{key}}">{{key}}</a>
					<i class="pe-7s-angle-right pe-va"></i>
				</h4>
			</div>
			<p>
				<button class="button" ng-click="showImport()">Import CSV as new table</button>
			</p>
		</div>
		
		<div class="panel">
			<h2>Datasets <i ng-hide="datasetList.$resolved" class="pe-7s-refresh pe-va pe-spin"></i></h2>
			<p></p>
			<div ng-repeat="dataset in datasetList" ng-show="datasetList.$resolved">

				<h4>
					<i ng-show="dataset.viewAuthorization == 'private'" class="pe-7s-lock pe-va"></i>
					<i ng-show="dataset.viewAuthorization != 'private'" class="pe-7s-unlock pe-va"></i>
					<a href="#/table/{{project.projectId}}/{{logicalDatabaseId}}/{{physicalDatabaseId}}/{{instance}}/dataset/{{dataset.id}}">{{dataset.viewName}}</a>
					<i class="pe-7s-angle-right pe-va"></i>
				</h4>

				<p style="white-space:pre-wrap;" ng-text-truncate="dataset.viewDescription" ng-tt-chars-threshold="255"></p>

				<p>
					<a class="button" href="#/table/{{project.projectId}}/{{logicalDatabaseId}}/{{physicalDatabaseId}}/{{instance}}/dataset/{{dataset.id}}">View</a>
					<apidialog ng-if="dataset.viewAuthorization=='public'" database="{{physicalDatabaseId}}" dataset="{{dataset.id}}"/>
					<button class="button" ng-click="editDataset(dataset.id)">Edit</button>
					<button class="button delete" ng-really-message="Are you sure you want to delete this dataset?" ng-really-click="deleteDataset(dataset.id)">Delete</button>
				</p>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="panel">

			<h2>Run a Query</h2>

			<vqd ng-show="tableList.$resolved" schema="tableList" sql="sql"></vqd>

			<div>
				<form>
					<div class="vqd_query">
						<h3>Query</h3>
						<textarea name="query" class="vqd_sql" placeholder="No data selected"></textarea>
						<p>
							<button class="button" ng-click="runQuery()">Run query</button>
							<button class="button cancel" ng-click="clearQuery()">Clear query</button>
						</p>
					</div>
				</form>
			</div>
		</div>

		<div class="bs-callout bs-callout-info">
			<h4>Query Help</h4>
			<p>Note that the "wildcard" character in queries is '%'. If you are editing a query manually rather than using
				the visual query designer, make sure you enclose column names in double-quotes and text values in single-quotes, 
				for example <code>SELECT * FROM omdb WHERE "Genre" LIKE '%Horror%'</code>. Note also that text-based conditions are 
				case-sensitive unless you use the ILIKE operator instead of LIKE or =. Also, if you create a query using the visual query
				designer, then edit it manually in the Query field, it will no longer be possible to edit it using the visual query designer.
			</p>
		</div>
	</div>
</div>