<div class="my-projects">
	<h2>My Projects</h2>
	<div ng-hide="projects.$resolved">
		<i class=“icon-loader spin”>Loading…</i>
	</div>	
	<div ng-show="projects.$resolved">
        <h3>You are involved in {{projects.length}} projects</h3>
            
        <a class="button create" href="#/newproject"> Create new project</a>
    
        <div class="panel project"  dir-paginate="project in projects | orderBy:'name' | itemsPerPage: 5  track by project.projectId ">
            <h4>
                <a href="#/project/{{project.projectId}}">{{project.name}}</a>
            </h4>
            <div class="inner-child">
                <div class="project-piece description">
                    {{project.description}}
                </div><!-- .inner-child closes -->
                <div class="project-piece actions">
					<a ng-show="project.canEdit" class="button create" href="#/project/{{project.projectId}}/edit">Edit</a>
					<a ng-show="project.canDelete" class="button delete" ng-really-message="Are you sure you want to delete this project?" ng-really-click="delete(project.projectId)">Delete</a>
                </div><!-- .project-piece actions closes -->
                <div class="clear"></div>
            </div><!-- .project closes -->
            <br>
        </div>		
	</div>
	<div ng-show="projects.$resolved"><dir-pagination-controls template-url="lib/pagination.tpl.html"></dir-pagination-controls></div>
	
</div>