<div class="my-projects">
	<h2>My Projects</h2>
	<div ng-hide="projects.$resolved">
		<i class=“icon-loader spin”>Loading…</i>
	</div>	
	<div ng-show="projects.$resolved">
        <h3>You are involved in {{projects.length}} projects</h3>
            
        <a class="button create" href="#/newproject"> Create new project</a>
    
        <div class="panel project" ng-repeat="project in projects">
            <h4>
                <a href="#/project/{{project.projectId}}">{{project.name}}</a>
            </h4>
            <div class="inner-child">
                <div class="project-piece description">
                    {{project.description}}
                </div><!-- .inner-child closes -->
                <div class="project-piece actions">
                </div><!-- .project-piece actions closes -->
                <div class="clear"></div>
            </div><!-- .project closes -->
            <br>
        </div>
	</div>
</div>