<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<a href="#/project/{{project.projectId}}">{{project.name}}</a>
	<a href="#/project/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}">{{projectDatabase.dbName}}</a>
	<a href="#/table/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}/{{dbId}}/{{instance}}/table/{{tableName}}">{{tableName}}</a>
	<span class="breadcrumbs youarehere">Edit Row for: {{tableName}}</span>
</div>

<form class="process" id="rowForm" name="rowForm" ng-submit='saveRow()' novalidate>
	<div ng-if="haveRow" class="formItem" ng-repeat="column in tableData.columnsByIndex | filter:{columnName:'!'+primaryKey}">
	    <label for="{{column.columnName}}">{{column.columnName}}</label>
	    <input ng-model="fields[column.columnName]" ng-minlength="2" ng-maxlength="255" id="{{column.columnName}}" name="{{column.columnName}}">
	</div>
	<div ng-if="!haveRow" class="formItem" ng-repeat="column in tableData.columnsByIndex">
	    <label for="{{column.columnName}}">{{column.columnName}}</label>
	    <input ng-model="fields[column.columnName]" ng-minlength="2" ng-maxlength="255" id="{{column.columnName}}" name="{{column.columnName}}">
	</div>
	<div class="form-buttons">
	        <a class="button" href="#/table/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}/{{dbId}}/{{instance}}/table/{{tableName}}">Cancel</a>
	        <button name="submit" type="submit" ng-disabled="projectForm.$invalid">Save</button>
	    
	</div>
</form>