<div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<a href="#/project/{{project.projectId}}">{{project.name}}</a>
	<a href="#/project/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}">{{projectDatabase.dbName}}</a>
	<a href="#/database-explorer/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}/{{projectDatabase.dbName}}/{{dbId}}/MAIN/{{project.dbServerPublicAddress}}">View, Edit and Query Data</a>
	<span class="breadcrumbs youarehere">Data Viewer</span>
</div>
<h1 ng-if="queryType=='table'">Table Name: {{tableName}}</h1>
<h1 ng-if="queryType=='SQL'">Query: {{theQuery}}</h1>
<h1 ng-if="queryType=='dataset'">Dataset: {{tableView.viewName}}</h1>
<!-- pagination -->
<table>
<tr>
	<td ng-if="startRow > 1"><button class="button" ng-click="loadPrevious()">Previous</button></td>
	<td>Records #:{{startRow}} to {{lastRow}} of {{maxRows}}</td>
	<td ng-if="lastRow < maxRows"><button class="button" ng-click="loadNext()">Next</button></td>
	<td>Page: {{pagePosition}} of {{pages}}</td>
	<td>Go to record: <input type="number" ng-model="newStart"  ng-keyup="$event.keyCode == 13 && startFrom()"/></td>
</tr>
</table>

<div class="data-table-container" ng-show="tableData.$resolved">
	<div id="data-table-header">
		<table id="data-table-header-table" class="data-table" column-resizable>
			<thead>
				<tr>
					<th ng-repeat="column in tableData.columnsByIndex">
						<div ng-if="!column.referencedTable"
							class="colHead"
							ng-click="orderKey(column.columnName)">
							{{column.columnName}}
							<span ng-show="orderProp == column.columnName && !sortReverse">&nbsp;&darr;</span>
							<span ng-show="orderProp == column.columnName && sortReverse">&nbsp;&uarr;</span>
						</div>
						<p ng-if="column.referencedTable" class="referenceSelect">
							<span>{{column.columnName}}</span><br>
							<select class="changeReferencedColumnData"
								id="{{column.columnName}}___referencedTableColumnSelect"
								name="{{column.columnName}}___referencedTableColumnSelect"
								ng-model="columnSelection[column.columnName]"
								ng-change="selectTableReference(column.columnName, column.referencedTable)"
								>
								<option ng-repeat="alternate in column.alternateColumns" value="{{alternate}}">{{alternate}}</option>
							</select>
						</p>
					</th>
					<th ng-if="queryType == 'table'" >Functions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="data-table-results-container">
		<form class="table-data-form" name="dataForm">
		<table id="data-table-body-table" class="data-table">
			<tbody>
				<tr ng-repeat="row in tableData.rows | filter:doFilter | orderBy:sortBy:sortReverse" repeat-end="tableLoaded()">
					<td ng-repeat="column in tableData.columnsByIndex">

					<span ng-if="!column.referencedTable">
						<input type="text" name="input_{{row.cell[primaryKey].value}}_{{column.columnName}}" 
							validate="{{row.cell[column.columnName].type}}"
							ng-if="!checkPrimaryColumn(column) && queryType == 'table'" 
							ng-model="row.cell[column.columnName].value"
							ng-change="valueChanged(row.cell[column.columnName])"></input>
						<span ng-if="checkPrimaryColumn(column) || queryType!=='table'">{{row.cell[column.columnName].value}}</span>
					</span>

					<big-select ng-if="column.referencedTable" 
						type="text" 
						readonly="{{queryType == 'table'}}"
						reference-key="{{row.cell[primaryKey].value}}"
						class="selectedDataItem {{column.columnName}} bigdrop"
						id="selectedDataItemForTableRow_{{row.cell[primaryKey].value}}_{{column.columnName}}"
						local-column="{{column.columnName}}"
						referenced-column="referencedColumn[column.columnName]"
						referenced-table="{{column.referencedTable}}"
						referenced-label="null"/>

					</td>
					<td ng-if="queryType == 'table'">
						<button class="button delete" ng-really-message="Are you sure you want to delete this row?" ng-really-click="deleteRow(row)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	<addrow ng-show="queryType=='table'"></addrow>
</div>
<p>
	<button ng-if="queryType=='SQL'" class="button" ng-click="saveAsView()">Save as dataset</button>
	<a ng-if="queryType=='SQL'" class="button" href="#/database-explorer/{{project.projectId}}/{{projectDatabase.logicalDatabaseId}}/{{projectDatabase.dbName}}/{{dbId}}/MAIN/{{project.dbServerPublicAddress}}">Edit query</a>
	<button ng-if="queryType=='table'" class="button" ng-disabled="(!dataForm.$dirty && referencesChanged.count === 0) || !dataForm.$valid" ng-click="saveChangedRows()">Save changes</button>
</p>

<filter></filter>