<form class="process" id="projectForm" name="projectForm" ng-submit='submitNewProject()' novalidate>

<div class="formItem">
    <label for="projectName">Name  <span class="important">*</span><span class="explanation">A name for the project (minimum 2 characters). </span></label>
    <input ng-model="project.name" ng-minlength="2" ng-maxlength="255" required type="text" id="projectName" name="projectName" property="projectName">
</div>

<div ng-messages="projectForm.projectName.$error" ng-if="projectForm.projectName.$touched" class="formItem" role="alert">
  <div ng-message="required" class="alert alert-warning">You did not enter a name for the project</div>
  <div ng-message="minlength" class="alert alert-warning">Your project name is too short</div>
  <div ng-message="maxlength" class="alert alert-warning">Your project name is too long</div>
</div>


<div class="formItem">
    <label for="description">Description <span class="important">*</span><span class="explanation">Please give a brief description of the project. This will appear in your project list, and on the project page. If the project is included in the public ORDS project list, the description will also appear there.</span></label>
    <textarea ng-model="project.description" required rows="5" id="description" name="description"></textarea>
</div>

<div ng-messages="projectForm.description.$error" ng-if="projectForm.description.$touched" class="formItem" role="alert">
  <div ng-message="required" class="alert alert-warning">You must provide a description</div>
</div>

<div class="formItem">
    <label for="startDate">Start date<span class="explanation">The date the project started</span></label>
    <input ng-model="project.startDate" type="date" id="startDate" name="startDate" class="tcal tcalInput" value="">
</div>

<div ng-messages="projectForm.startDate.$error" ng-if="projectForm.startDate.$touched" class="formItem" role="alert">
  <div ng-message="date" class="alert alert-warning">You need to provide a valid date</div>
</div>

<div class="formItem">
    <label for="endDate">End date<span class="explanation">The actual or anticipated end date of the project</span></label>
    <input ng-model="project.endDate" type="date" id="endDate" name="endDate" class="tcal tcalInput" value="">
</div>

<div ng-messages="projectForm.endDate.$error" ng-if="projectForm.endDate.$touched" class="formItem" role="alert">
  <div ng-message="date" class="alert alert-warning">You need to provide a valid date</div>
</div>

<div class="formItem">
    <label for="privateProject">Exclude from public ORDS project list<span class="explanation">By default, basic details (project name, description, and owner) about all full ORDS projects are included in the public version of the ORDS project list. Check this box to exclude this project from the list.<br> (Leaving this box unchecked will <i>not</i> give members of the public access to any data stored in ORDS, unless a project member specifically chooses to make this available.)</span></label>
    <input ng-model="project.privateProject" type="checkbox" name="privateProject" id="privateProject" value="private">
</div>

           
<div class="formItem">
    <label for="odbcSet">Enable ODBC access for project<span class="small">If this box is checked, project members will be able to access project data via ODBC (Open Database Connectivity), potentially bypassing the ORDS interface. <br> <a href="http://help.it.ox.ac.uk/research/ords/odbc" target="_blank">More information about ORDS and ODBC connections</a>.</span></label>
    <input ng-model="project.odbc" type="checkbox" name="odbcSet" id="odbcSet" value="odbc">
</div>
            <div class="form-buttons">
                    <a class="button" href="#/project/{{project.projectId}}" name="cancel">Cancel</a>
                    <button name="submit" type="submit" ng-disabled="projectForm.$invalid">Save</button>
                
            </div>
        </form>