     <h1>Welcome to ORDS</h1>

     <div class="intro">
         <p>The Online Research Database Service (ORDS) is an online relational database management system for researchers. It is securely hosted on the University of Oxford's private cloud network and supported by staff at IT Services.</p>
     </div><!-- .intro closes -->

     <div class="panel searchbox-home">
       <h2>Search for projects</h2>
         <div class="inner-child">
           <form action="ProjectQueryServlet" method="post">
             <div>
 		       <input class="invisibleElement" name="projectRequestType" type="text" value="viewOrdsProjects">
 	           <input name="searchTerms" class="required" type="text" value="" maxlength="200">
 		       <input name="viewOrdsProjectsForm" type="submit" value="Search ORDS projects">
            </div>
          </form>
        </div><!-- .inner-child closes -->
     </div><!-- .searchbox-home closes -->
