
	<!--
		<div class="data-table-sub-container">
		<table class="data-table">
			<thead>
				<tr>
					<th ng-repeat="column in tableData.columnsByIndex">
						<div ng-if="!column.referencedTable"
							class="colHead">
							{{column.columnName}}
						</div>
						<p ng-if="column.referencedTable" class="referenceSelect">
							<span>{{column.columnName}}</span><br>
							<select class="changeReferencedColumnData"
								id="{{column.columnName}}___referencedTableColumnSelect"
								name="{{column.columnName}}___referencedTableColumnSelect"
								ng-model="columnSelection[column.referencedTable]"
								ng-change="selectTableReference(column.columnName, column.referencedTable)"
								>
								<option ng-repeat="alternate in column.alternateColumns" value="{{alternate}}">{{alternate}}</option>
							</select>
						</p>
					</th>
					<th>Functions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		</div>
		-->
		<div class="data-table-sub-container>
		<form class="table-data-form" name="addDataForm">
		<table class="data-table">
			<tbody>
				<tr>
					<td class="add" ng-repeat="column in tableData.columnsByIndex">
					<span ng-if="!column.referencedTable">
						<input type="text" name="input_{{newRow.cell[newRowKey].value}}_{{column.columnName}}" 
						    validate="{{column.columnType}}"
							ng-if="!isAutonumber(column)" 
							ng-model="newRow.cell[column.columnName].value"></input>
						<em ng-if="isAutonumber(column)">generated automatically</em>
					</span>
					<big-select ng-if="column.referencedTable" 
						type="text" 
						reference-key="{{newRowKey}}"
						class="selectedDataItem {{column.columnName}} bigdrop"
						id="selectedDataItemForTableRow_{{newRow.cell[newRowKey].value}}_{{column.columnName}}"
						local-column="{{column.columnName}}"
						referenced-column="referencedColumn[column.columnName]"
						referenced-table="{{column.referencedTable}}"
						referenced-label="null"/>
					</td>
					<td class="add">
						<p><div><button class="button" ng-disabled="addDataForm.$invalid" ng-click="addRow()">Add new row</button></div></p>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
