  <div class="breadcrumbs-wrapper">
	<a href="#/">My Projects</a>
	<a href="#/project/{{project.projectId}}">{{project.name}}</a>
	<a href="#/project/{{project.projectId}}/{{logicalDatabaseId}}">{{logicalDatabaseName}}</a>
	<span class="breadcrumbs youarehere">Upload database or csv file</span>
</div>
<div ng-controller = "importController">
	<input type="file" file-model="myFile"/>
	<button ng-click="uploadFile()">Upload</button>
	<progress-bar progress-current="{{loaded}}" progress-total="{{total}}" progress-suffix="kBs"></progress-bar>
</div>

